:root {
  --surface-100: #141414;
  --surface-200: #181818;
  --surface-300: #202020;
  --surface-400: #262626;
  --surface-500: #303030;
  --surface-600: #333;
  --surface-700: #383838;
  --surface-800: #444;

  --border-100: #404040;
  --border-200: #555;
  --border-300: #666;
  --border-400: #888;
  --border-500: #999;

  --text-100: #777;
  --text-200: #888;
  --text-300: #999;
  --text-400: #aaa;
  --text-500: #ddd;
  --text-600: #eee;

  --accent-100: #344864;
  --accent-200: #7bf;
  --accent-300: #9df;
  --on-accent: #121212;

  --danger-100: #5a282c;
  --danger-200: #f88;

  --driven: #fa5;
  --white: #fff;
  --shadow: #000c;
}

:root[data-theme="light"] {
  --surface-100: #fff;
  --surface-200: #f4f4f4;
  --surface-300: #eaeaea;
  --surface-400: #e0e0e0;
  --surface-500: #d6d6d6;
  --surface-600: #ccc;
  --surface-700: #c2c2c2;
  --surface-800: #b8b8b8;
  --border-100: #bbb;
  --border-200: #999;
  --border-300: #888;
  --border-400: #666;
  --border-500: #555;
  --text-100: #888;
  --text-200: #777;
  --text-300: #666;
  --text-400: #555;
  --text-500: #333;
  --text-600: #111;
  --accent-100: #bcd4f5;
  --accent-200: #1a6fd8;
  --accent-300: #0b55b0;
  --on-accent: #fff;
  --danger-100: #f5c6ca;
  --danger-200: #c22;
  --white: #000;
  --shadow: #0005;
}
